 <nav class="navbar navbar-expand-md navbar-dark text-light">
        <h3 class="logo">D</h3>
        <h3><a class="nav-brand" href="members.html">dayrec</a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav ml-auto text-light text-right">
                <a class="nav-link active" href="about.html">ABOUT</a><span class="sr-only">(current)</span></a>
                <a class="nav-link" href="place-bet.html">PLACE BET</a>
                <a class="nav-link" href="/logout">LOGOUT</a>
            </div>
        </div>
    </nav>
    <div class="about-container container">
        <div class="row">
            <div class="col text-left">
                <h1>WELCOME TO DAYREC <span class="member-name"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="about-dayrec">About DAYREC</h2>
                <div class="image-cropper mb-5">
                    <img src="https://i.imgur.com/FP207Uh.png" id="destry" alt="Destry sp-studio.de Image">
                </div>
                <h3 class="text-center">Destry, Are You Recording?</h3>
                <br>
                <p id="about-desc">"I was this close!" -Destry Gustin</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="about-body">We've all heard it before.<br>
                    <br>
                Created by Jarell Boone, Javier Cardenas, Jody Brzovski, Dave Jeffers, and Carly Peyton.
                </p>
            </div>
        </div>
    </div>