<nav class="navbar navbar-expand-md navbar-dark text-light">
    <h3 class="logo">D</h3>
    <h3><a class="nav-brand" href="members.html">dayrec</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav ml-auto text-light text-right">
        <a class="nav-link" href="about.html">ABOUT</a>
        <a class="nav-link active" href="place-bet.html">PLACE BET</a><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/logout">LOGOUT</a>
      </div>
    </div>
  </nav>
  <div class="place-bet-container container">
    <div class="row">
      <div class="col text-right">
        <span class="wallet"><img src="https://lh3.googleusercontent.com/proxy/A1yTM5J9UovHJT6eDna5hB1Ft61sTbU0uVjvW9eGo5OXAaz97_40bBqR6RnNVjZ5aWN-ZiILHyyJT_-i4ato2h5L3ANo2YerBG-F6meJY0Hs-6wgMiHfnZbFfBmfZA"> Wallet</span>
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <h1>WELCOME TO DAYREC <span class="member-name"></span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="place-your-bet">Place Your Bet</h2>
        <form class="bet">
          <div class="form-group">
            <label for="screenshare-bet"># Screenshare Misses</label>
            <input type="text" class="form-control" id="screenshare-guess" placeholder="Enter Your Guess">
          </div>
          <div class="form-group">
            <label for="recording-bet"># Recording Misses</label>
            <input type="text" class="form-control mb-4" id="recording-guess" placeholder="Enter Your Guess">
          </div>
          <button type="submit" class="place-bet-button submit-button btn btn-default mt-3" id="place-bet">PLACE BET</button>
        </form>
      </div>
      <div class="class-guesses col-md-6 col-sm-12">
        <h2>Class Guesses</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <h2 class="historical-rankings text-center">Historical Data</h2>
      </div>
    </div>
  </div>