 <nav class="navbar navbar-expand-md navbar-dark text-light">
    <h3 class="logo">D</h3>
    <h3 id="dayrec">dayrec</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav ml-auto text-light text-right"> <a class="nav-link" href="about.html">ABOUT</a>
        <a class="nav-link" href="login.html">LOGIN</a>
      </div>
  </nav>
  <div class="sign-up-container container">
    <div class="row">
      <div class="welcome col-md-6 col-sm-12 text-center">
        <h1 id="welcome">WELCOME TO DAYREC</h1>
        <h4 class="dayrec-full-name">Destry, are you recording?!</h4>
        <p id="intro-desc">How many times Destry will miss screen recording and sharing next class? Sign up to place a
          bet!</p>
      </div>
      <div class="sign-up-form col-md-6 col-sm-12">
        <h2 class="mb-4 mt-2">Sign Up</h2>
        <form class="signup">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control mb-4" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="user-email">Email Address</label>
            <input type="email" class="form-control" id="user-email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="user-password">Password</label>
            <input type="password" class="form-control mb-4" id="user-password" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="submit-button btn btn-default mt-3">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
