<nav class="navbar navbar-expand-md navbar-dark text-light">
      <h3 class="logo">D</h3>
      <h3><a class="nav-brand" href="members.html">dayrec</a></h3>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav ml-auto text-light text-right">
        <a class="nav-link" href="about.html">ABOUT</a>
        <a class="nav-link" href="place-bet.html">PLACE BET</a>
        <a class="nav-link" href="/logout">LOGOUT</a>
      </div>
    </div>
  </nav>
  <div class="main-page-container container">
    <div class="row">
      <div class="col text-right">
        <span class="wallet"><img
            src="https://lh3.googleusercontent.com/proxy/A1yTM5J9UovHJT6eDna5hB1Ft61sTbU0uVjvW9eGo5OXAaz97_40bBqR6RnNVjZ5aWN-ZiILHyyJT_-i4ato2h5L3ANo2YerBG-F6meJY0Hs-6wgMiHfnZbFfBmfZA">
          Wallet</span>
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <h1>WELCOME TO DAYREC <span class="member-name"></span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="ranking">Class Rankings</h2>
      </div>
      <button type="submit" class="place-bet-button btn btn-default">PLACE BET</button>
    </div>
  </div>
  <div class="today-data">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <h2>Your Guess Today</h2>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <h2>Actual Today</h2>
      </div>
    </div>
  </div>
