<footer class="footer-margin fixed-bottom card-footer bg-dark text-light text-center footer-position"><a
    href="https://github.com/JodyBrzo/DAYREC" class="github" target="_blank"><img
      src="https://www.sferalabs.cc/wp-content/uploads/github-logo-white.png" alt="Github Logo" id="github"></a>
</footer>