<div class="row">
    <div class="col text-left">
        <h1>WELCOME TO DAYREC,  
            <span class="member-name">
            {{#if user }}
                {{ user.studentName }}
            {{/if}}
            </span>
        </h1>
     </div>
</div>