  {{> navbar }}
<div class="admin-login-container container">
  <div class="row">
    <div class="welcome col-md-6 col-sm-12 text-center">
      {{> intro }}
      <p id="intro-desc">Login as Administrator to record actual misses per class.</p>
    </div>
    <div class="sign-up-form col-md-6 col-sm-12">
      <h2 class="mb-4 mt-2">Administrator Login</h2>
      <form class="admin-login">
      {{> form }}
        <button type="submit" class="submit-button btn btn-default mt-3">Login</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/js/admin.js"></script>
