 {{> navbar }}
<div class="admin-update-container container">
  {{> welcome }} 
    <div class="row">
        <div class="col-md-6 col-sm-12">
        <h2 class="record-class-data">Record Class Data</h2>
        <input type="hidden" id="record-id" value="{{userData.recordId}}">
        <form class="record-data">
          <div class="form-group">
            <label for="screenshare-misses"># Screenshare Misses</label>
            <input type="text" class="form-control" id="screenshare-misses" placeholder="Enter Actual Screenshare Misses" value="{{userData.actualShare}}">
          </div>
          <div class="form-group">
            <label for="recording-misses"># Recording Misses</label>
            <input type="text" class="form-control mb-4" id="recording-misses" placeholder="Enter Actual Recording Misses" value="{{userData.actualRecord}}">
          </div>
          <div class="row">
            <button type="submit" class="update-button submit-button btn btn-default mt-3"
            id="update-button">UPDATE ACTUALS</button>
          </div>        
          </form>
          <div class="row">
            <button type="button" class="allow-betting-button-off submit-button btn btn-default mt-3"
            id="allow-betting-button" data-allow="{{userData.allowBets}}">ALLOW BETTING</button>
            <button type="button" class="assign-payouts-button submit-button btn btn-default mt-3"
            id="assign-payouts-button">ASSIGN PAYOUTS</button>
          </div>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/admin-update.js"></script>