 {{> navbar }}
<div class="admin-update-container container">
  {{> welcome }} 
    <div class="row">
        <div class="col-md-6 col-sm-12">
        <h2 id="record-class-data">Record Class Data</h2>
        <input type="hidden" id="record-id" value="{{userData.recordId}}">
        <form class="record-data">
          <div class="form-group">
            <label for="screenshare-misses"># Screenshare Misses</label>
            <input type="text" class="form-control" id="screenshare-misses" placeholder="Enter Actual Screenshare Misses" value="{{userData.actualShare}}">
          </div>
          <div class="form-group">
            <label for="recording-misses"># Recording Misses</label>
            <input type="text" class="form-control mb-4" id="recording-misses" placeholder="Enter Actual Recording Misses" value="{{userData.actualRecord}}">
          </div>
          <div class="row">
            <button type="submit" class="update-button submit-button btn btn-default mt-3"
            id="update-button">UPDATE ACTUALS</button>
          </div>        
          </form>
            <div class="row">
            <button type="button" class="allow-betting-button-off submit-button btn btn-default mt-1"
            id="allow-betting-button" data-allow="{{userData.allowBets}}">ALLOW BETTING</button>
          </div>
          <div class="row">
            <button type="button" class="assign-payouts-button submit-button btn btn-default mt-1"
            id="assign-payouts-button">ASSIGN PAYOUTS</button>
          </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modalActuals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Actuals</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Successfully updated screen share and recording actuals.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modalAssignPayouts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Assign All User Payouts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Successfully assigned payouts to all users.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script type="text/javascript" src="/js/admin-update.js"></script>