  {{> navbar}}
  <div class="login-container container">
    <div class="row">
      <div class="welcome col-md-6 col-sm-12 text-center">
        {{> intro }}
        <p id="intro-desc">How many times Destry will miss screen recording and sharing next class? Login to place a bet
          and see your ranking!</p>
      </div>
      <div class="sign-up-form col-md-6 col-sm-12">
        <h2 class="mb-4 mt-2">Login</h2>
        <form class="login">
          {{> form}}
          <h5 id="admin-link"><a href="/admin">Login as Administrator</a></h5>
          <button type="submit" class="submit-button btn btn-default mt-3">LOGIN</button>
        </form>
      </div>
    </div>
  </div>