 {{> navbar  }}
<div class="main-page-container container">
  {{> wallet }}
  {{> welcome }} 
  <div class="row text-center">
    {{!-- <div class="col-12">
      <h2 class="ranking">Class Rankings</h2>
    </div> --}}
  </div>
</div>
<div class="today-data">
    <div class="row">
      <div class="col-lg-5 col-md-12 text-center todayData">
        <h2 id="today">Your Guess Today</h2>
        <div class="total">Total Records: <span class="totalUser">{{ userData.guessRecord }}</span></div>
        <div class="total">Total Shares: <span class="totalUser">{{ userData.guessShare }}</span></div>
          <a href="/place-bet"><button class="place-bet-link btn btn-default mt-5">PLACE BET</button></a>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5 col-md-12 text-center todayData">
        <h2 id="today">Actual Today</h2>
        <div class="total">Total Records: <span class="totalUser">{{ userData.actualRecord }}</span></div>
        <div class="total">Total Shares: <span class="totalUser">{{ userData.actualShare }}</span></div>
      </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>