 {{> navbar  }}
<div class="main-page-container container">
  {{> wallet }}
  {{> welcome }} 
  <div class="row">
    <div class="col-12">
      <h2 class="ranking">Class Rankings</h2>
    </div>
      <a href="/place-bet"><button class="place-bet-link btn btn-default">PLACE BET</button></a>
  </div>
</div>
<div class="today-data">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <h2 id="today">Your Guess Today</h2>
        <div class="wallet">Total Records: <span class="wallet">{{ userData.guessRecord }}</span></div>
        <div class="wallet">Total Shares: <span class="wallet">{{ userData.guessShare }}</span></div>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <h2 id="today">Actual Today</h2>
        <div class="wallet">Total Records: <span class="wallet">{{ userData.actualRecord }}</span></div>
        <div class="wallet">Total Shares: <span class="wallet">{{ userData.actualShare }}</span></div>
      </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>