  {{> navbar }}
<div class="place-bet-container container">
  {{> wallet }}
  {{> welcome }} 
  <div class="row">
      <div class="col">
          <h2 class="place-your-bet">Place Your Bet</h2>
          <form class="bet">
            <div class="form-group">
              <label for="screenshare-bet"># Screenshare Misses</label>
              <input type="text" class="form-control" id="screenshare-guess" placeholder="Enter Your Guess">
            </div>
            <div class="form-group">
              <label for="recording-bet"># Recording Misses</label>
              <input type="text" class="form-control mb-4" id="recording-guess" placeholder="Enter Your Guess">
            </div>
            <button type="submit" class="place-bet-button submit-button btn btn-default mt-3" id="place-bet">PLACE BET</button>
          </form>
      </div>
    </div>
  <div class="row">
      <div class="col-md-12 ">
        <h2 class="historical-rankings text-center">Historical Data</h2>
      </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/place-bet.js"></script>
